@{
    ViewData["Title"] = "Users management";
}

@model IEnumerable<aliksoft.AdminWebApp.Models.UserItemViewModel>

<table>
    <tr>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
            <td>
                @* TODO use constants for action and controller name *@
                @using (Html.BeginForm("Delete", "Users", new { id = user.Id }, FormMethod.Post,
                    null,   //TODO what about antiforgery? 
                    new { onsubmit = "return confirm('Are you sure?');" }))
                {
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Create")">Add New User</a>