@{
    ViewData["Title"] = "Home Page";
    @model Aliksoft.WebApp.Controllers.HomeController.IndexPageVM;
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p>@Model.Content</p>
</div>
